{% extends "articleView.html" %}
{% load static %}
{% load date_filter %}

{% block mycss %}
    {{ block.super }}
    <link  href="{% static 'css/articleContent.css' %}" rel="stylesheet" charset="UTF-8">
{% endblock mycss %}

{% block readNum %}
{% endblock readNum %}

{% block content %}
    <div class="blogs">
        <div class="weizhi">
            <ol class="breadcrumb" STYLE="background-color: rgba(248,248,248,0)">
                您当前的位置:
            <li><a href="{% url 'homepage:FirstPage'%}" style="color: #333333">首页</a></li>
{#            &nbsp;>&nbsp;#}
            <li><a href="{% url 'homepage:programCategory'  category %}" style="color: #333333">{{ category }}</a></li>
            </ol>
        </div>
        <div class="blogs_info_page">
            <article>
                    <h1>{{ article.title}}</h1>
                    <div class=""wz_info>
                        <span>作者: {{ article.user }} &nbsp;&nbsp;&nbsp;</span>
                        <span>时间: {{ article.create_time}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span>浏览量: {{ article.get_read_num}}</span>
                    </div>
                    <div class="content">
                        <p>{{ article.content|safe }}</p>
                    </div>
{#                        {{ read_nums }}#}

                    <div class="like" align="center" title="点赞">
                        <span><img style="cursor: hand" id="heart_hui" onclick="likeChange(this,'articledetail',{{ object_id }})" class="heart" src="{% static "img/like.png" %}"></span>
                        <span id="like_num" class="like_num" style="margin-left: 0.5em">{% likes_sum article %}</span>
                    </div>

                    <div class="wz_zhuanzai" style="cursor: default">如果喜欢这篇文章，可以注明来源来转载！</div>
                    <div class="tags"></div>
                    <div class="info-pre-next">
                        <p>
                            {% if pre_article.title == None %}
                                上一篇：<a style="color: #333333;cursor: no-drop">无</a>
                            {% else %}
                                上一篇:<a style="color: #333333" href="{% url 'homepage:content' pre_article.id %}">{{ pre_article.title }}</a>
                            {% endif %}
                        </p>
                        <p>
                            {% if next_article.title == None %}
                                下一篇：<a style="color: #333333;cursor: no-drop">无</a>
                            {% else %}
                                下一篇:<a style="color: #333333" href="{% url 'homepage:content' next_article.id %}">{{ next_article.title }}</a>
                            {% endif %}
                        </p>
                    </div>

                <div class="row">
                    <div style="margin-top: 2em;padding: 2em ">
                        <form id="comment_form" action="{% url "homepage:comment" %}" method="POST" style="overflow: hidden">
                            <div id="reply_content_container" style="display:none;border: 1px solid rgba(120,205,178,0.11);border-bottom: none;background-color: rgba(248,248,248,0);overflow: hidden;padding: 1em 1em 0.5em">
                                <div><div><h5><strong>回复:</strong></h5></div>
                                    <div id="reply_content" style="color: rgba(197,54,49,0.91);margin-left: 2em"></div>
                                </div>
                            </div>
                            {% for com in comment_form %}
                                <div class="form-group">
                                    {{ com }}
                                </div>
                            {% endfor %}
                            <span id="comment_error" class="text-danger;pull-left" style="float:left"></span>
                            <div class="form-group">
                                    <input type="submit" class="btn btn-info" values="提交" style="float:right" >
                            </div>
                        </form>
                    </div>

                     <h3 style="border-bottom: 1px solid #ccc;padding-bottom: 0.4px">评论列表</h3>
                    <div style="margin-top: 2em;padding: 2em ">
                        <div id="comment_list">
                            {% for comment in comments %}
                             <div id="root_{{ comment.id }}">
                                <div class="show-content">
                                    <div style="float: left;width: 15%">
                                        <img class="vuser" style="width:57.8px;height:60px;margin-right:.75em;border-radius:50%" aria-hidden="true" src="https://gravatar.cdn.iszy.cc/avatar/01ae708cd3f38ad00b696ad9adbc5419?d=mm">
                                    </div>
                                        <div class="vcard" style="flex:1;padding-bottom: .5em;float:left;width:80%">
                                            <div class="show-name">
                                                <span>{{ comment.name }}</span>
                                                <span style="float: right;font-size: 12px;color: #808080;">{{ comment.create_time }}</span>
                                            </div>
                                            <div id="content_{{ comment.id }}" class="show-txt">
                                                {{ comment.content|safe }}
                                            </div>
                {#                            <div class="show-time">{{ comment.create_time }}</div>#}
                                            <div class="gbook_foot">
                                                <div  id="cai{{ comment.id }}" class="cai{{ comment.id }}" style="cursor: hand;font-size:12px;margin-right: 5px;float: right;height:auto;text-decoration:underline" onclick="caiLikeChange('{% get_content_type comment %}',{{ comment.id }})">
                                                   <span>踩(<h7 id="cai{{ comment.id }}_like">{% cai_likes_sum comment %}</h7>)</span>
                                                </div>
                                                <div id="ding{{ comment.id }}" class="ding{{ comment.id }}" style="cursor: hand;font-size:12px;margin-right: 40px;float: right;height:auto;text-decoration:underline" onclick="dingLikeChange('{% get_content_type comment %}',{{ comment.id }})">顶(<h7 id="ding{{ comment.id }}_like">{% likes_sum comment %}</h7>)</div>
                                                <div class="reply_btn" style="font-size:12px;margin-right: 40px;float: right;height:auto;text-decoration:underline"><a style="color: #333333"  href="javascript:reply({{ comment.id }})">回复</a></div>
                                            </div>
                                            <div class="show-close">x</div>
                                        </div>
                                </div>

                                <div style="margin-left: 2em">
                                    {% for reply in comment.root_comment.all %}
                                             <div class="show-content">
                                                <div style="float: left;width: 15%">
                                                    <img class="vuser" style="width:57.8px;height:60px;margin-right:.75em;border-radius:50%" aria-hidden="true" src="https://gravatar.cdn.iszy.cc/avatar/01ae708cd3f38ad00b696ad9adbc5419?d=mm">
                                                </div>
                                                    <div class="vcard" style="flex:1;padding-bottom: .5em;float:left;width:80%">
                                                        <div class="show-name">
                                                            <span>{{ reply.name }} <strong style="color: #d43f3a">回复了</strong> {{ reply.parent.name }} </span>
                                                            <span style="float: right;font-size: 12px;color: #808080;">{{ reply.create_time }}</span>
                                                        </div>
                                                        <div id="content_{{ reply.id }}" class="show-text">
                                                            {{ reply.content|safe }}
                                                        </div>
                            {#                            <div class="show-time">{{ comment.create_time }}</div>#}
                                                        <div class="gbook_foot">
                                                            <div  id="cai{{ reply.id }}" class="cai{{ reply.id }}" style="cursor: hand;font-size:12px;margin-right: 5px;float: right;height:auto;text-decoration:underline" onclick="caiLikeChange('{% get_content_type reply %}',{{ reply.id }})">
                                                                  <span>踩(<h7 id="cai{{ reply.id }}_like">{% cai_likes_sum reply %}</h7>)</span>
                                                             </div>
                                                               <div id="ding{{ reply.id }}" class="ding{{ reply.id }}" style="cursor: hand;font-size:12px;margin-right: 40px;float: right;height:auto;text-decoration:underline" onclick="dingLikeChange('{% get_content_type reply %}',{{ reply.id }})">顶(<h7 id="ding{{ reply.id }}_like">{% likes_sum reply %}</h7>)</div>
                                                            <div class="reply_btn" style="font-size:12px;margin-right: 40px;float: right;height:auto;text-decoration:underline"><a style="color: #333333"  href="javascript:reply({{ reply.id }})">回复</a></div>
                                                        </div>
                                                        <div class="show-close">x</div>
                                                    </div>
                                            </div>
                                        {% endfor %}
                                </div>
                             </div>
                             {% empty %}
                                <span id="comment_empty"><h5>暂无评论，快来评论吧~</h5></span>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </article>
        </div>
    </div>

<script type="text/javascript">
        $("#comment_form").submit(function(){
            $.ajax({
                url:"{% url "homepage:comment" %}",
                type:"POST",
                data:$(this).serialize(),
                cache:false,
                success:function(data){
                    console.log(data);
                    if (data['status'] == 'success'){
                        {#var comment_html='<div>'+data["name"]+":"+data["content"]+"<span>时间："+data["create_time"]+'</span></div>';#}
                        var comment_html= ''+'<div class="show-content">'+
                                                    '<div style="float: left;width: 15%">'+
                                                        '<img class="vuser" style="width:57.8px;height:60px;margin-right:.75em;border-radius:50%" aria-hidden="true" src="https://gravatar.cdn.iszy.cc/avatar/01ae708cd3f38ad00b696ad9adbc5419?d=mm">'+
                                                    '</div>'+
                                                        '<div class="vcard" style="flex:1;padding-bottom: .5em;float:left;width:80%">'+
                                                            '<div class="show-name">'+
                                                                '<span>'+data["name"]+ '</span>'+
                                                                '<span style="float: right;font-size: 12px;color: #808080;">'+
                                                                        data["create_time"]+
                                                                '</span>'+
                                                            '</div>'+
                                                            '<div id="comm1" class="show-txt">'+
                                                                '<p  class="">'+data["content"]+ '</p>'+
                                                            '</div>'+
                                                            '<div class="gbook_foot">'+
                                                                 '<div class="gbook_tool" style="font-size:12px;margin-right: 5px;float: right;height:auto;text-decoration:underline">'+
                                                                        '<span>'+'踩('+data["cai"]+')'+'</span>'+
                                                                '</div>'+
                                                                '<div class="gbook_tool" style="font-size:12px;margin-right: 40px;float: right;height:auto;text-decoration:underline">'+
                                                                        '顶('+data["ding"]+')</div>'+
                                                                '<div class="reply_btn" style="font-size:12px;margin-right: 40px;float: right;height:auto;text-decoration:underline"><a href="javascript:reply('+ data["id"] +')">回复</a></div>'
                                                            '</div>'+
                                                             '<div class="show-close">x</div>'+
                                                        '</div>'+
                                            '</div>';
                        var reply_html='<div style="margin-left: 2em">'+' <div class="show-content">'+
                                                 '<div style="float: left;width: 15%">'+
                                                    '<img class="vuser" style="width:57.8px;height:60px;margin-right:.75em;border-radius:50%" aria-hidden="true" src="https://gravatar.cdn.iszy.cc/avatar/01ae708cd3f38ad00b696ad9adbc5419?d=mm">'+
                                                 '</div>'+
                                                 '<div class="vcard" style="flex:1;padding-bottom: .5em;float:left;width:80%">'+
                                                    '<div class="show-name">'+
                                                        '<span>'+data["name"]+' <strong style="color: #d43f3a">回复了</strong> '+data["parent_name"]+'</span>'+
                                                        '<span style="float: right;font-size: 12px;color: #808080;">'+data["create_time"]+'</span>'+
                                                    '</div>'+

                                               '<div id="content_'+data["id"]+'" class="show-text">' +
                                                            data["content"] +
                                                '</div>' +
                                               '<div class="gbook_foot">'+
                                                 ' <div class="gbook_tool" style="font-size:12px;margin-right: 5px;float: right;height:auto;text-decoration:underline">'+
                                                        '<span>踩('+data["cai"]+')</span>'+
                                                  '</div>'+
                                                    ' <div class="gbook_tool" style="font-size:12px;margin-right: 40px;float: right;height:auto;text-decoration:underline">顶('+data["ding"]+')</div>'+
                                                    ' <div class="reply_btn" style="font-size:12px;margin-right: 40px;float: right;height:auto;text-decoration:underline"><a href="javascript:reply('+ data["id"] +')">回复</a></div>'+
                                               '</div>'+
                                                '<div class="show-close">x</div>'+
                                             '</div>'+
                                         '</div>';
                        if($('#reply_comment_id').val()=='0'){
                            $('#comment_list').prepend(comment_html);

                         }
                         else{
                                $('#root_'+data['root_id']).append(reply_html);

                         }
                        $('#text').val("");
                         $('#comment_name').val("");
                         $('#reply_content_container').hide();
                         $('#reply_comment_id').val('0');
                         $('#comment_empty').remove();
                    }else{
                        $('#comment_error').text(data['message'])
                    }

                },
                error:function (xhr){
                    console.log(xhr);
                }
            });
            return false
        })

        function reply(reply_comment_id){
            {#设置值#}
            $("#reply_comment_id").val(reply_comment_id);
            var html=$("#content_"+reply_comment_id).html();
            console.log(html)
            $('#reply_content').html(html);
            $('#reply_content_container').show();

            $('html,body').animate({scrollTop: $('#comment_form').offset().top-40}, 300,function (){
                $("#text").focus();
            });
        }


        function likeChange(obj,content_type,object_id){
            if (document.getElementById("heart_hui").getAttribute('src')=="{% static "img/like.png" %}"){
                document.getElementById("heart_hui").src="{% static "img/like1.png" %}";
                document.getElementById("heart_hui").className='cs';
            }else{
                document.getElementById("heart_hui").src="{% static "img/like.png" %}";
                document.getElementById("heart_hui").className="heart_hui";
            }
            var is_like=document.getElementsByClassName('heart_hui').length == 0;
            $.ajax({
               url: '{% url "likes:like_change" %}',
               type:'GET',
               data:{
                   content_type:content_type,
                   object_id:object_id,
                   is_like:is_like
                },
               cache:false,
               success:function (data){
                   console.log(data)
                   if(data['status']=='success'){
                        $('#like_num').text(data['liked_num']);
                   }else{
                       alter(data['message']);
                   }
               },
               error:function (xhr){
                   console.log(xhr)
               }
            });
        }

        function dingLikeChange(content_type,object_id){
            if (document.getElementById("ding"+object_id).getAttribute('class')=="ding"+object_id){
                document.getElementById("ding"+object_id).className='dingx'+object_id;
            }else{
                document.getElementById("ding"+object_id).className="ding"+object_id;
            }
            var is_like=document.getElementsByClassName('dingx'+object_id).length == 1;
            $.ajax({
               url: '{% url "likes:like_change" %}',
               type:'GET',
               data:{
                   content_type:content_type,
                   object_id:object_id,
                   is_like:is_like
                },
               cache:false,
               success:function (data){
                   console.log(data)
                   if(data['status']=='success'){
                       $('#ding'+object_id+'_like').text(data['liked_num']);
                   }else{
                       alter(data['message']);
                   }
               },
               error:function (xhr){
                   console.log(xhr)
               }
            });
        }

        function caiLikeChange(content_type,object_id){
            if (document.getElementById("cai"+object_id).getAttribute('class')=="cai"+object_id){
                document.getElementById("cai"+object_id).className='caix'+object_id;
            }else{
                document.getElementById("cai"+object_id).className="cai"+object_id;
            }
            var is_like=document.getElementsByClassName('caix'+object_id).length == 1;
            $.ajax({
               url: '{% url "likes:cai_like_change" %}',
               type:'GET',
               data:{
                   content_type:content_type,
                   object_id:object_id,
                   is_like:is_like
                },
               cache:false,
               success:function (data){
                   console.log(data)
                   if(data['status']=='success'){
                       $('#cai'+object_id+'_like').text(data['liked_num']);
                   }else{
                       alter(data['message']);
                   }
               },
               error:function (xhr){
                   console.log(xhr)
               }
            });
        }

 </script>
{% endblock content %}

{% block nav_bar %}

{% endblock nav_bar %}